[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
django-debug-toolbar = "*"

[packages]
requests = "*"
bs4 = "*"
asgiref = "==3.4.1"
astroid = "==2.3.3"
dj-database-url = "==0.5.0"
django-heroku = "==0.3.1"
gunicorn = "==20.0.4"
isort = "==4.3.16"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
psycopg2 = "==2.8.5"
pylint = "==2.4.4"
pytz = "==2020.1"
six = "==1.12.0"
sqlparse = "==0.3.1"
typed-ast = "==1.4.1"
virtualenv-clone = "==0.5.1"
whitenoise = "==5.0.1"
wrapt = "==1.11.1"
django = "==4.0.2"
django-import-export = "*"

[requires]
python_version = "3.8"
