{% extends 'base.html' %}
{% load i18n %}
{% block css %}
    <style>
        .user_bid{
            background:yellow;
        }
        .current_price{
           border: 2px double black!important;
           background: rgb(162, 252, 139);
        }
        .grey{
            background:grey;
        }
        a:link {
            color: grey;
            background-color: transparent;
            text-decoration: none;
            }
        a:link {
            color: grey;
            }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-5">
            <h1 id="rider">RENNER</h1>
        </div>
        <div class="col-md-1 text-center align-text-bottom">
            <h1 id="highest" class="current_price"></h1>
        </div>
        <div class="col-md-3">
            <h2 id="highest_team_captain"></h2>
        </div>
        <div class="col-md-2">
            <h3><span id="timer"></span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7 align-text-bottom">
            <span id="joker_tc"></span> <span id="joker_value"></span>  <span id="joker"></span>
        </div>
        <div class="col-md-3">
            
        </div>
        <div class="col-md-2">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive" style="height: 100%;">
                <table class="table table-striped">
                    <thead>
                    <tr><td>Renner</td><td>Bod</td><td>ploegleider</td></tr>
                    </thead>
                    <tbody class="biddings-listing">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <table id="points" class="table table-bordered">

            </table>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td></td>
                    <td>renners</td>
                    <td>max</td>
                    <td>over</td>
                </tr>
                </thead>
                <tbody>
                    {% for ploegleider in ploegleiders %}
                        <tr>
                            <td>{{ ploegleider.name }}</td>
                            <td>{{ ploegleider.team_size }}</td>
                            <td>{{ ploegleider.max_allowed_bid }}</td>
                            <td>{{ ploegleider.amount_left }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){

            generateBidding();
            //getCurrentBid()
            setInterval(() => getUsersBid(), 1000);
            // Detect td click
            $('.td').click(function(){
                // Save to a form of database.
                // Get value from clicked table cell and send
                const credit = (this.dataset.td);
                setCurrentBid(credit);
            });

        });


        function generateBidding(){
            // Generate table
            const table = document.querySelector("#points");
            let points = "";
            let num = 1;
            // here we want to limit the available numbers to be equal to 
            // the maximum allowed bid
            var max_allowed = 80;
            var rows = Math.ceil(max_allowed/10);
            for(let counter=1;counter<=rows; counter++){
                let data = "<tr>";
                for(let i=1;i<=10;i++){
                    data += "<a href='#'><td class='text-center td' id='cell-"+ num +"' data-td='"+ num +"'>" + num + "</td></a>";
                    num++;
                }
                data += "</tr>";
                points += data;
            }
            table.innerHTML = "<tbody>" + points + "</tbody>";
        }

        function setCurrentBid(credit){
            // Set current user bid in database
            $.ajax({
                url: '{% url "veiling:bidding" %}',
                method: 'POST',
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}',
                },
                data:{'amount': credit},
                success: response => {
                    // effect? To show it was a bid?
                    // briefly color the name of teamcaptain?
                },
                error: err =>{
                    const error = err.responseJSON;
                    console.log('setCurrentBid'+ error.msg);
                }
            });
        }

        function getUsersBid(){
            // Get all users bid
            $.ajax({
                url: '{% url "veiling:biddings" %}',
                method: 'GET',
                success: response => {
                    const tableBody = document.querySelector('.biddings-listing');
                    // data consists of all the biddings
                    const data = response.data;
                    // highest contains the highest bid, coming from db
                    $('#rider').html(response.on_auction);
                    $('#highest').html(response.highest);
                    $('#highest_team_captain').html(response.winner);
                    var user_id = "{{ user.id }}";
                    if (response.joker_tc_id == user_id){
                        console.log("Je hebt een joker!");
                        // make the Joker symbol appear
                    } else {
                        // make the joker symbol disappear
                    }
                    $('#joker').html(response.joker_info);
                    $('#joker_tc').html(response.joker_tc_name);
                    $('#joker_value').html(response.joker_value);
                    $('.td').each(function(elem){
                        if (response.highest > 0){
                            $(this).removeClass('current_price');
                            $(this).removeClass('user_bid');
                            if(this.dataset.td < response.highest){
                                $(this).addClass('grey');
                            } else if(this.dataset.td == response.highest){
                                $(this).addClass('current_price');
                            } else {
                                console.log('');
                                $(this).removeClass('grey');
                            }
                        } else {
                            //hoogste bod = 0, herstel biedtabel
                            // kan zelfs nieuwe biedinterface opnieuw
                            // maken op basis van max. toegestaan bod
                            $(this).removeClass('grey');
                            $(this).removeClass('current_price');
                            $(this).removeClass('user_bid');
                        }
                    });
                    
                    var time_left = response.timer;
                    countdowntimer(time_left);

                    tableBody.innerHTML = "";
                    data.forEach(function (elem) {
                        tableBody.innerHTML += `<tr><td>${elem.rider}</td><td>${elem.amount}</td><td>${elem.name}</td></tr>`;
                    });

                },
                error: err =>{
                    const error = err.responseJSON;
                    console.log('getUsersBid'+ error.msg);
                }
            });
        }


        function countdowntimer(timeleft){
            //console.log (sincelastbid)
            var countdownvalue = timeleft;
            if (timeleft > 6) {
                // bieding geopend of nieuw bod! 
                // Toon effect op prijs en ploegleider
                countdownvalue = timeleft;
            } else if (timeleft > 3) {
                countdownvalue = "eenmaal";
            } else if (timeleft > 0) {
                countdownvalue = "andermaal...";
            } else if (timeleft > -20) {
                countdownvalue = "verkocht!";
            } else {
                countdownvalue = timeleft;
            }  
            $('#timer').html(countdownvalue);
        }

        function joker(){
            // get the current highest value
            console.log('clicked!');
            
            var jokerbod = Number($('#highest.current_price').val());
            console.log(typeof jokerbod);

            console.log(jokerbod);
            setCurrentBid(parseInt(jokerbod,10));

        }

    </script>
{% endblock %}