{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans 'Team Captain' %}</th>
                    <th>{% trans 'Rider' %}</th>
                    <th>{% trans 'Amount' %}</th>
                    <th>{% trans 'Action' %}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Josh</td>
                    <td>Xcoder</td>
                    <td>$125</td>
                    <td><a href="{% url 'auction:auction' 1%}"> Start Bidding</a></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}