{% extends 'base.html' %}
{% load i18n %}
{% block css %}
    <style>
        .user_bid{
            background:yellow;
        }
        .current_price{
            background:blue;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="table-responsive" style="height: 200px;">
                <table class="table table-striped">
                    <thead>
                    <tr><td>Ploegleider</td><td>Bod</td></tr>
                    </thead>
                    <tbody class="biddings-listing">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-between">
                <p><h1><a href="https://cqranking.com/men/asp/gen/rider.asp?riderid={{ rider.cqriderid }}" target="_blank">{{ rider }}</a></h1></p>
                <p>{% trans 'Current price' %}: <span id="CurrentPriceDisplay">0</span></p>
                <p>{% trans 'Your Bid' %}: <span id="bidDisplay">0</span></p>
            </div>
            <table id="points" class="table table-bordered">

            </table>
        </div>
        <div class="col-md-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <td></td>
                    <td>ploeg</td>
                    <td>max</td>
                    <td>over</td>
                </tr>
                </thead>
                <tbody>
                    {% for ploegleider in ploegleiders %}
                        <tr>
                            <td>{{ ploegleider.user }}</td>
                            <td>{{ ploegleider.team_size }}</td>
                            <td>{{ ploegleider.max_allowed_bid }}</td>
                            <td>{{ ploegleider.amount_left }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            // Generate Bidding Platform
            const riderID = ({{ rider_id }})
            generateBidding()
            getCurrentBid(riderID)
            setInterval(() => getUsersBid(riderID), 1000)
            // Detect td click
            $('.td').click(function(){
                // Save to a form of database
                const credit = (this.dataset['td'])
                setCurrentBid(this, riderID, credit)
            })

        })
        function generateBidding(){
            // Generate table
            const table = document.querySelector("#points")
            const trow = "<tr>"
            let points = ""
            let num = 1
            for(let counter=1;counter<=8; counter++){
                let data = "<tr>";
                for(let i=1;i<=10;i++){
                    data += "<td class='text-center td' data-td='"+ num +"'>" + num + "</td>"
                    num++
                }
                data += "</tr>"
                points += data
            }
            table.innerHTML = "<tbody>" + points + "</tbody>";
        }
        function getCurrentBid(riderID){
            // Get current user bid from database
            $.ajax({
                url: `{% url "auction:get_current_bid" %}?rider_id=${riderID}`,
                method: 'GET',
                success: response => {
                    const credit = response.msg
                    $('.td').each(function(elem){
                        if(this.dataset['td'] == credit){
                            updateTableUI(this, credit)
                        }
                    })
                },
                error: err => {
                    console.log(err)
                }

            })
        }
        function setCurrentBid(elem, riderID, credit){
            // Set current user bid in database
            $.ajax({
                url: '{% url "auction:bidding" %}',
                method: 'POST',
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}',
                },
                data:{'rider': riderID, 'amount': credit},
                success: response => {
                    updateTableUI(elem, credit)
                },
                error: err =>{
                    const error = err.responseJSON
                    alert(error.msg)
                }
            })
        }
        function updateTableUI(elem, credit){
            // Update table UI after detecting any changes in the UI
            const getPrevActiveBid = $('td.user_bid')
            getPrevActiveBid.removeClass('user_bid')
            elem.className = 'text-center td user_bid'
            const display = document.querySelector('#bidDisplay')
            display.innerHTML = credit
        }

        function getUsersBid(riderID){
            // Get all users bid
            $.ajax({
                url: '{% url "auction:biddings" %}',
                data: {'rider_id': riderID},
                method: 'GET',
                success: response => {
                    const tableBody = document.querySelector('.biddings-listing')
                    // data consists of all the biddings
                    const data = response.data
                    // highest contains the highest bid, coming from db
                    const high = response.highest
                    const display = document.querySelector('#CurrentPriceDisplay')
                    display.innerHTML = high
                    tableBody.innerHTML = ""
                    data.forEach(function (elem) {
                        tableBody.innerHTML += `<tr><td>${elem.name}</td><td>${elem.amount}</td></tr>`
                    })
                },
                error: err =>{
                    const error = err.responseJSON
                    alert('getUsersbid error'+ error.msg)
                }
            })
        }

    </script>
{% endblock %}