{% extends 'base.html' %}
{% load i18n %}
{% block css %}
    <style>
        .user_bid{
            background:yellow;
        }
        .current_price{
            background:blue;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h1><a href="https://cqranking.com/men/asp/gen/rider.asp?riderid={{ rider.cqriderid }}" target="_blank">{{ rider }}</a> {% if rider.sold %} verkocht{% else %}beschikbaar{% endif %}</h1>
        </div>
        <div class="col-md-6">
            <h1><span id="countdown">60</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="table-responsive" style="height: 100%;">
                <table class="table table-striped">
                    <thead>
                    <tr><td>Ploegleider</td><td>Bod</td><td>Tijdstip</td></tr>
                    </thead>
                    <tbody class="biddings-listing">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-flex justify-content-between">
                <h2><p>Hoogste bod: <span id="CurrentPriceDisplay">0</span> (<span id="winner"></span>)</p></h2>
            </div>
            <table id="points" class="table table-bordered">

            </table>
            <table class="table table-striped">
                <thead>
                <tr>
                    <td></td>
                    <td>renners</td>
                    <td>max</td>
                    <td>over</td>
                </tr>
                </thead>
                <tbody>
                    {% for ploegleider in ploegleiders %}
                        <tr>
                            <td>{{ ploegleider.user }}</td>
                            <td>{{ ploegleider.team_size }}</td>
                            <td>{{ ploegleider.max_allowed_bid }}</td>
                            <td>{{ ploegleider.amount_left }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
            // Generate Bidding Platform
            const riderID = ({{ rider_id }})
            // I want to set a "sold" boolean to true one a rider is sold.
            // while sold = False, run everything here
            // probably also need an "up for auction" to be True
            generateBidding()
            getCurrentBid(riderID)
            setInterval(() => getUsersBid(riderID), 1000)
            // Detect td click
            $('.td').click(function(){
                // Save to a form of database
                const credit = (this.dataset['td'])
                setCurrentBid(this, riderID, credit)
            })

        })
        function generateBidding(){
            // Generate table
            const table = document.querySelector("#points")
            const trow = "<tr>"
            let points = ""
            let num = 1
            // here we want to limit the available numbers to be equal to 
            // the maximum allowed bid
            for(let counter=1;counter<=8; counter++){
                let data = "<tr>";
                for(let i=1;i<=10;i++){
                    data += "<td class='text-center td' data-td='"+ num +"'>" + num + "</td>"
                    num++
                }
                data += "</tr>"
                points += data
            }
            table.innerHTML = "<tbody>" + points + "</tbody>";
        }
        function getCurrentBid(riderID){
            // Get current user bid from database
            $.ajax({
                url: `{% url "auction:get_current_bid" %}?rider_id=${riderID}`,
                method: 'GET',
                success: response => {
                    const credit = response.msg
                    $('.td').each(function(elem){
                        if(this.dataset['td'] == credit){
                            updateTableUI(this, credit)
                        }
                    })
                },
                error: err => {
                    console.log(err)
                }

            })
        }
        function setCurrentBid(elem, riderID, credit){
            // Set current user bid in database
            $.ajax({
                url: '{% url "auction:bidding" %}',
                method: 'POST',
                headers: {
                    "X-CSRFToken": '{{ csrf_token }}',
                },
                data:{'rider': riderID, 'amount': credit},
                success: response => {
                    updateTableUI(elem, credit)
                },
                error: err =>{
                    const error = err.responseJSON
                    alert(error.msg)
                }
            })
        }
        function updateTableUI(elem, credit){
            // Update table UI after detecting any changes in the UI
            //const getPrevActiveBid = $('td.user_bid')
            //getPrevActiveBid.removeClass('user_bid')
            //elem.className = 'text-center td user_bid'
            //const display = document.querySelector('#bidDisplay')
            //display.innerHTML = credit
        }

        function getUsersBid(riderID){
            // Get all users bid
            $.ajax({
                url: '{% url "auction:biddings" %}',
                data: {'rider_id': riderID},
                method: 'GET',
                success: response => {
                    const tableBody = document.querySelector('.biddings-listing')
                    // data consists of all the biddings
                    const data = response.data
                    // highest contains the highest bid, coming from db
                    const high = response.highest
                    const display = document.querySelector('#CurrentPriceDisplay')
                    display.innerHTML = high
                    const winner = response.winner
                    const displaywinner = document.querySelector('#winner')
                    displaywinner.innerHTML = winner
                    tableBody.innerHTML = ""
                    data.forEach(function (elem) {
                        tableBody.innerHTML += `<tr><td>${elem.name}</td><td>${elem.amount}</td><td>${elem.date}</td></tr>`
                    })
                    countdowntimer(response.latest)
                },
                error: err =>{
                    const error = err.responseJSON
                    alert(error.msg)
                }
            })
        }

        function countdowntimer(sincelastbid){
            console.log (sincelastbid)
            var countdownvalue = sincelastbid;
            if (countdownvalue.startsWith('n')) {
                var countdownvalue = "10";
            } else if (countdownvalue.startsWith('10')) {
                var countdownvalue = "VERKOCHT!!";
            } else if (countdownvalue.startsWith('1')) {
                var countdownvalue = "9";                
            } else if (countdownvalue.startsWith('2')) {
                var countdownvalue = "8";
            } else if (countdownvalue.startsWith('3')) {
                var countdownvalue = "7";
            } else if (countdownvalue.startsWith('4')) {
                var countdownvalue = "6";                
            } else if (countdownvalue.startsWith('5')) {
                var countdownvalue = "5";
            } else if (countdownvalue.startsWith('6')) {
                var countdownvalue = "4";
            } else if (countdownvalue.startsWith('7')) {
                var countdownvalue = "3";
            } else if (countdownvalue.startsWith('8')) {
                var countdownvalue = "eenmaal...";
            } else if (countdownvalue.startsWith('9')) {
                var countdownvalue = "andermaal...";

            //    var sold = true
            // call function buyRider(TeamCaptain, riderID, amount)
            } else {
                var countdownvalue = '';
            }  
            var displaytimer = document.querySelector('#countdown')
            displaytimer.innerHTML = countdownvalue
        }

        function buyRider(){
            // get the highest bidder for the currently auctioned rider
            // send the bid, the teamcaptain and the rider to a form
            // on the backend, select a new rider to be auctioned
            // refresh the page and start a new auction
            // so call a function with the rider_id, the rest of the information can
            // be obtained from the 
        }

    </script>
{% endblock %}