{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
            <h1>Ploegleiders</h1>
            <br/><br/>
            {% if object_list %}
                <table width="100%">
                    <thead>
                        <th>volgorde</th>
                        <th>Ploegleider</th>
                        <th class="text-center">#  renners</th>
                        <th class="text-center">punten (max)</th>
                        <th class="text-center">al aangeboden</th>
                        <th class="text-center">geheime lijst</th>
                    </thead>
                    <tbody>
                    {% for ploegleider in object_list %}
                        <tr>
                            <td>{{ ploegleider.order }}</td>
                            <td><a href="{% url 'results:ploegleider-detail' ploegleider.pk %}">{{ ploegleider }}</a></td>
                            <td class="text-center">{{ ploegleider.team_size }}</td>
                            <td class="text-center">{{ ploegleider.amount_left }} ({{ ploegleider.max_allowed_bid }})</td>
                            <td class="text-center">{{ ploegleider.riders_proposed }}</td>
                            <td class="text-center">{{ ploegleider.riders_for_auction }}</td>
                            <!--td class="text-center">{{ ploegleider.next_rider_on_auction }}</td-->
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Geen ploegleiders aanwezig.</p>
            {% endif %}
    </div>
</div>
{% endblock %}
