{% extends "base.html" %}

{% block content %}

  <h1>Ploegleider: {{ teamcaptain }} </h1>

 aantal gekochte renners: {{ teamcaptain.teamsize }}<
 budget: {{ teamcaptain.amount_left }}
 aantal renners nog kopen: {{ teamcaptain.riders_needed }}
 maximaal bod: {{ teamcaptain.max_allowed_bid }}


  <div style="margin-left:20px;margin-top:20px">
    <div class="row">
      {% for rider in teamcaptain.virtualteam_set.all %}
        <div class="col-sm-5">!!<a href="{% url 'results:rider-detail' rider.pk %}">{{ rider.name }}</a></div>
        <div class="col-sm-5">**{{ rider.price }}</div>
      {% endfor %}
    </div>

  </div>
{% endblock %}