{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
            <h1>Ploegleiders</h1>
            <br/><br/>
            {% if object_list %}
                <table width="100%">
                    <thead>
                        <th>Ploegleider</th>
                        <th>#  renners</th>
                        <th>punten over</th>
                        <th>max. bod</th>
                    </thead>
                    <tbody>
                    {% for ploegleider in object_list %}
                        <tr>
                            <td><a href="{% url 'results:ploegleider-detail' ploegleider.pk %}">{{ ploegleider }}</a></td>
                            <td>{{ ploegleider.team_size }}</td>
                            <td>{{ ploegleider.amount_left }}</td>
                            <td>{{ ploegleider.max_allowed_bid }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Geen ploegleiders aanwezig.</p>
            {% endif %}
    </div>
</div>
{% endblock %}
